@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/ptsans-400.woff2) format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/ptsans-700.woff2) format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: italic;
    font-weight: 400;
    src: url(../fonts/ptsans-700.woff2) format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: italic;
    font-weight: 700;
    src: url(../fonts/ptsans-700.woff2) format("woff2");
    font-display: swap;
}

html {
    height: 100%;
}

body {
    font-family: "PT Sans", sans-serif;
    font-style: normal;
    font-size: 22px;
    line-height: 26px;
    background-color: #F2F2F2;
    color: #000000;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    outline: 5px solid rgba(255, 99, 78, 0.5);
    /* УБРАТЬ */
    outline-offset: -5px;
    /* УБРАТЬ */
}

.body-containter {
    background-color: #FFFFFF;
}

.main-container {
    flex-grow: 1;
}


/* СПРЯТАННЫЕ ЭЛЕМЕНТЫ */


/*
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
*/


/* ГЛАВНАЯ СТРАНИЦА */


/* Шапка */


/* Навигация */

.navigation {
    display: flex;
    width: 1200px;
    margin: 0 auto;
}

.navigation-list-left {
    margin: 0;
    padding: 0;
    width: 459px;
    /*339 + 120px прозапас*/
}

.navigation-list-right {
    margin: 0;
    margin-left: auto;
    padding: 0;
    width: 313px;
    /*268+45px прозапас*/
}

.navigation-link {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    color: inherit;
    text-decoration: none;
    text-align: center;
    text-transform: capitalize;
}

.navigation-button {
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
    font-weight: 700;
    background-color: #756157;
    border-radius: 4px;
    text-transform: uppercase;
    text-align: center;
    border: none;
}

.navigation-link-img {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    color: inherit;
    text-decoration: none;
    text-align: center;
}


/* main */

.page-container {
    width: 1200px;
    margin: 0 auto;
}

.sedona-logo {
    display: block;
    margin: 0 auto;
    vertical-align: baseline;
}


/* Под index шапкой hero */

.hero {
    background-image: url("../images/photo_index/index_background.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
}


/* index Преимущества */

.advantages-list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.advantages-photo {
    display: block;
    vertical-align: baseline;
}

.advantages-item {
    width: 400px;
    height: 385px;
}

.advantages-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    text-align: center;
}

.advantages-description {
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
}

.advantages-item-city,
.advantages-item-bridge {
    background-color: #82B3D3;
}

.advantages-title-city,
.advantages-title-bridge {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: center;
}

.advantages-description-city,
.advantages-description-bridge {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
}

.advantages-item-square,
.advantages-item-tourists {
    background-color: rgba(131, 179, 211, 0.12);
    ;
}

.advantages-item-road {
    background-color: rgba(131, 179, 211, 0.2);
}

.advantages-title-square,
.advantages-title-road,
.advantages-title-tourists {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    text-align: center;
}

.advantages-description-square,
.advantages-description-road,
.advantages-description-tourists {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #333333;
}


/*index Услуги*/

.services-list {
    margin: 0;
    padding: 0;
    display: flex;
}

.services-item {
    width: 400px;
    height: 385px;
}

.services-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
}

.services-item-hotel,
.services-item-souvenirs {
    background-color: rgba(131, 179, 211, 0.12);
}

.services-item-hotel-food {}

.services-title-description {
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    color: #333333;
}

.services-name-hotel,
.services-name-food,
.services-name-souvenirs {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
}

.services-description-hotel,
.services-description-food,
.services-description-souvenirs {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
}


/* index *Блок "Заинтересовались?"*/

.hotel-search-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
}

.hotel-search-description {
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
}

.hotel-search-link {
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: none;
    background-color: #756157;
    border-radius: 4px;
}


/*index Блок подписки*/

.subscription-index {
    background-image: url("../images/photo_index/Subscribe.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    color: #FFFFFF;
}

.subscription-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    text-align: center;
}

.subscription-description {
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
}

.button-submit {
    font-family: inherit;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    background-color: #82B3D3;
    border: none;
}


/*Подвал*/

.footer-social-link {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    color: inherit;
    text-decoration: none;
    text-align: center;
}

.contacts-phone {
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
    color: inherit;
    text-decoration: none;
}

.htmlacademy-logo {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    color: inherit;
    text-decoration: none;
    text-align: center;
}


/*КАТАЛОГ*/


/*Выбор параметров гостиницы main header*/

.inner-header-title {
    font-weight: 700;
    font-size: 60px;
    line-height: 78px;
    color: #FFFFFF;
}

.main-inner-section {
    background-image: url("../images/filter.jpg");
    background-repeat: repeat;
    /*!!потом исправлю на no-repeat!!*/
    background-size: 100% auto;
}

.breadcrumbs-link {
    color: inherit;
    text-decoration: none;
}

.parameters-filter-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-transform: capitalize;
    color: #FFFFFF;
}

.parameters-filter-item {
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #FFFFFF;
}

.button-apply {
    font-family: inherit;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #82B3D3;
    border: none;
}

.button-reset {
    font-family: inherit;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: rgba(0, 0, 0, 0);
    border: none;
}


/*фильтр по результату*/

.result-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
}

.display-list {
    color: inherit;
    text-decoration: none;
}


/*Результаты. Карточки отелей*/

.result-card-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
}

.result-card-type {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #333333;
}

.result-card-price {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: right;
    color: #333333;
}

.button-details {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none;
    background-color: #756157;
    border: none;
}

.button-like {
    font-family: inherit;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #82B3D3;
    border: none;
}

.result-card-rate {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #333333;
}


/*Пагинация*/

.pagination-link {
    font-family: inherit;
    font-style: normal;
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    background-color: #82B3D3;
}

.pagination-current,
.pagination-interval {
    color: inherit;
    background-color: #F2F2F2;
}
